* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: #121214;
}

h1 {
  font-size: 32px;
  padding: 12px 24px;
  border: 1px solid #e1e1e6;
  border-radius: 8px;
  color: #e1e1e6;
}
